

/* .pie-chart-container {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  padding-top: 125px;
  padding-bottom: 125px;
  overflow: hidden;
  width: 600px;
  display: flex;
  justify-content: center;
  text-align: center;
} */


// Sales purchase styleling
/* .chart-container {
  width: 620px;
  margin-left: 2rem;
  background-color: white;
  border-radius: 0.5rem;
} */
/// dashboard styling

/* .dashboard-container {
  padding-top: 2.5rem;
  padding-left: 2rem;
  background-color: #F0F4F8;
} */

/* .flex-container {
  display: flex;
} */

/* .flex-item {
  display: inline-flex;
  padding-left: 2rem;
} */

/* .padding-top-8 {
  padding-top: 2rem;
} */

///customer data styling
/* .pie-chart-container {
  width: 500px;
  background-color: white;
  border-radius: 0.5rem;
  margin-left: 2rem;
} */

////topselling

/* .top-chart-container {
  width: 500px;
  background-color: white;
  border-radius: 0.5rem;
} */
